.header {
  padding-top: 10vh;
  padding-bottom: 3vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fef;
  background-color: #008fed;
}

.score, .index {
  display: block;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}
.score {
  font-size: 1.7rem;
}

.index {
  margin-top: .3rem;
  font-size: 1.2rem;
}
