.answer {
  border: 2px solid #008fed;
  margin: .5rem 0px;
  height: 3rem;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  background-color: snow;
}

.answer-option {
  display: flex;
  height: 3rem;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bolder;
}

.answer-letter {
  flex: 10%;
  margin-left: 10px;
  color: white;
  text-align: center;
}

.answer-letter p {
  padding: 5px;
  background-color: #008fed;
  border-radius: 10px;
}

.answer-text {
  flex: 90%;
  text-align: center;
}

.answer-text p {
  color: #111;
  font-weight: 800;
}

.correct-answer {
  border: 2px solid lightgreen;
}
.correct-answer .answer-letter p {
  background-color: lightgreen;
}

.wrong-answer {
  border: 2px solid tomato;
}
.wrong-answer .answer-letter p {
  background-color: tomato;
}

.disabled-answer {
  pointer-events: none;
}

.help-answer {
  background: linear-gradient(to right, #008fed 10%, transparent 90%);
}
